* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
}
