* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
}

#map .leaflet-tile-pane {
    filter: brightness(0.6) sepia(1)  hue-rotate(50deg);
}
#map .leaflet-marker-pane .leaflet-marker-icon {
    filter: brightness(1.5) hue-rotate(90deg) contrast(10) drop-shadow(0px 0px 8px #bf76ff);
}
